

.menu {
    position:relative;
    display: inline-block;
}

.boton-menu {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.contenido-menu {
    display: none;
    position: absolute;
    background-color: white;
    color: #2980b9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.contenido-menu a {
    color: #3498db;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    opacity: 1;
}

.contenido-menu a:hover {
    background-color: gray;
}

.menu:hover .contenido-menu {
    display: block;
}

.boton-menu:hover {
    background-color: #2980b9;
}