body {
    text-align: left;
    padding-top: 10px;
    transition: background-color 0.5s;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
  
}

button:hover {
    background-color: #45a049;
}