.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen1 {
    background-image: url(https://images.unsplash.com/photo-1506744038136-46273834b3fb?w=1200);
}

.imagen2 {
    background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?w=1200);
}

.texto-centro {
    color: white;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 10px;
   
}

.negro {
    background-color: black;
    color: white;
    padding: 100px 20px;
    text-align: center;
}