body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;

}

.tarjeta {
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    text-align: center;
}

.perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.redes img {
    width: 30px;
    margin: 0 5px;
}

.contacto {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #f7c808;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border: none;
}

table {
    width: 100%;
}